{% extends "base.html" %}
{% block meta-title %}
    Register
{% endblock %}

{% block header_title %}
    Register an Account
{% endblock %}

{% block content %}
<div class="card p-3 w-50 mx-auto mt-5 shadow card_custom" style="background-image: url('/media/images/form_bg.jpg');">
    <form method="POST" class="p-3">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary mt-3">
            Register
        </button>
        <p>
            Already have an account? 
            <a href="{% url 'accounts:login' %}">
                Log in
            </a>
        </p>
        
    </form>
</div>
{% endblock %}