*,a {
    text-decoration: none;
    color: #ffffff;
}

.card_custom {
    color: #ffffff;
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #000000 no-repeat center center;
    background-size: cover;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section {
    width: 100vw;
    height: calc(100vw * 1/3);
    padding: 2rem 0;
    margin: 0 auto;
    background: #000000 no-repeat center center fixed url("https://picsum.photos/200/300/?blur=5");
    background-size: cover;
}

.a_button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    transition: background-color 0.3s ease;    
}
.a_button:hover {
    background-color: #0056b3;
}